.about {
  margin: 0;
  height: 600px;
  background: #0a2850;
  color: #ffffff;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.about__title {
  margin-top: 100px;
  margin-left: 80px;
  z-index: 3;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 300px;
}

.about__contant {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding-top: 119px;
  padding-bottom: 173px;
  padding-right: 80px;
  gap: 32px;
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  z-index: 3;
}

.about__paragraph {
  margin: 0;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}
.about__circle {
  background-color: #2f80ed;
  width: 415px;
  height: 415px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 2;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
