@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 80px;
  z-index: 3;
  transition: rotation 0.5s ease-in-out;
}

.logo:hover {
  animation: rotation 1.3s ease-in-out;
}
