.menu__card {
  width: 600px;
}

.menu__card-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-left: 40px;
}

.menu__card-list {
  margin: 0;
  list-style-type: none;
}

.menu__card-list-item {
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-grow: 0;
}
.menu__card-list-divider {
  border-bottom: #ffffff 1px solid;
  flex-grow: 3;
  margin-left: 5px;
  margin-right: 5px;
}
