@import url(./menu__card.css);
.menu {
  background: #0a2750 url("/images/background_menu.svg") no-repeat center/cover;
  color: #ffffff;
  padding-bottom: 0;
}

.menu__title {
  margin: 0;
  text-align: center;
  padding-top: 100px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0 auto;
  text-align: center;
  max-width: 780px;
  padding-top: 24px;
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
