.form {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__fieldset {
  border: none;
}

.form__label {
  margin-bottom: 8px;
  display: block;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label[for="terms-of-use"] {
  display: inline;
  text-align: center;
  margin-left: 12px;
  margin-bottom: 120px;
}

.form__input {
  width: 358px;
  height: 45px;
  margin-bottom: 32px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px #838383 solid;
}

.form__input::placeholder {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding-left: 8px;
}

.form__button {
  background-color: #2f80ed;
  color: #ffffff;
  width: 358px;
  height: 45px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
  width: 18px;
  height: 18px;
}
