.reservation {
  background-image: url(/images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
  margin: 0 auto;
}

.reservation__title {
  margin: 0;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
